%%-----------------------------------------------------------------------------
%% The standard name for a configuration file is sys.config. The name can be 
%% anything as long as it ends with the extension '.config'. 
%%
%% Just like the '.app' file and the '.rel' file, the '.config' file contains a 
%% single Erlang term followed by a period
%%
%% In a .config file, the outer term is a list of tuples. These tuples are 
%% pairs of an application name and a corresponding list of further 
%% key/value pairs, specifying options for that application.
%%

[
  % CNFG - sasl
  {sasl, [
    %% Write log files to sasl_dir
    {sasl_error_logger, {file, "/tmp/simple_cache.sasl_log"}}
    ]
  },
  % CNFG - simple_cache
 {simple_cache, [
    %% Contact nodes for use in joining a cluster
    %%
    {contact_nodes, ['contact1@plato', 'contact2@plato']}
    ]
  },
  % CNFG - tcp_interface
  {tcp_interface, [
    %% TCP Port Definition
    %%
    {port, 1155}
    ]
  }
].